<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442456205599-r63bppeg0bgn15apa0t618ll1jpimofj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442456205599-r63bppeg0bgn15apa0t618ll1jpimofj</string>
	<key>API_KEY</key>
	<string>AIzaSyCvyYPhAcEok-1tsrlQO4xUYdFxLvk3Ywc</string>
	<key>GCM_SENDER_ID</key>
	<string>442456205599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willhaslett.chat-boilerplate</string>
	<key>PROJECT_ID</key>
	<string>chat-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442456205599:ios:078175a173f0bc28de282a</string>
	<key>DATABASE_URL</key>
	<string>https://chat-boilerplate.firebaseio.com</string>
</dict>
</plist>